@color-black: #040404;
@color-white: #ffffff;
@color-gold: #ECD94E;
@color-red: #CFOBOB;
@color-grey: #641E16;
@color-purple: #E593F1;
@color-cowberry: #B20606;

.block-section {

  .section {
    margin-left: auto;
    margin-right: auto;
    color: @color-black;

    hr {
      width: 700px;
      background-color: #534e63;
      border: 0;
      height: 2px;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .content {
      height: 320px;
      width: 940px;
      margin-left: auto;
      margin-right: auto;

      .photo {
        background-color: #5F9EA0;
        height: 100%;
        width: 560px;
        float: left;

        font-size: 20px;
        color: white;
        text-align: center;
        padding-top: 50px;
      }

      .text {
        height: 100%;
        width: 380px;
        float: left;
        text-align: center;

        h2 {
          padding-top: 60px;
        }
        p {
          display: block;
          font-size: 18px;
          font-weight: bold;
        }
        .btn {
          line-height: 35px;
          text-transform: uppercase;
          background-color: @color-white;
          color: @color-black;
          width: 120px;
          margin-top: 20px;
          text-decoration: none;
          font-weight: bold;
          border: none;
          border-radius: 0;
          &:visited {
            color: @color-black;
          }
        }
      }
    }
  }

  .section1 {

    margin-top: 50px;

    .content {
      .text {
        color: @color-white;
        background-color: @color-black;
        h2 {
          padding-top: 0;
          margin: 0;
          line-height: 340px;
        }
      }
      .photo {
        background: url(/img/photo1.jpg) no-repeat center top;
        background-size: cover;
        border: 2px solid @color-gold;
        background-position-y: 13%;
      }
    }
  }

  .section2 {
    .content {
      .text {
        color: @color-white;
        background-color: @color-black;
        h2 {
          padding-top: 120px;
        }
      }
      .photo {
        background: url(/img/photo2.jpg) no-repeat center top;
        background-size: cover;
      }
    }
  }

  .section3 {
    .content {
      .text {
        color: @color-white;
        background-color: @color-cowberry;
        .btn {
          margin-top: 150px;
        }
      }
      .photo {
        background: url(/img/photo3.jpg) no-repeat center top;
        background-size: cover;
        background-position-y: 26%;
      }
    }
  }

  .section4 {
    .content {
      .text {
        color: @color-white;
        background-color: @color-purple;

        h2{
          padding-top: 100px;
        }
      }
      .photo {
        background: url(/img/photo11.jpg) no-repeat center top;
        background-size: cover;
        background-position-y: 23%;
      }
    }
  }

  .section5 {
    .content {
      .text {
        color: @color-white;
        background-color: #5F9EA0;

        h2{
          padding-top: 100px;
        }
      }
      .photo {
        background: url(/img/photo16.jpg) no-repeat center top;
        background-size: cover;
      }
    }
  }
}