@color-black: black;
@color-white: white;

.block-section {
  margin-bottom: 100px;

  .section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    hr {
      width: 700px;
      background-color: #534e63;
      border: 0;
      height: 2px;
      margin-bottom: 20px;
    }

    .content {
      height: 320px;
      width: 940px;
      margin-left: auto;
      margin-right: auto;

      .photo {
        background-color: #5F9EA0;
        height: 100%;
        width: 560px;
        float: left;

        font-size: 20px;
        color: white;
        text-align: center;
        padding-top: 50px;
      }

      .photo2 {
        background: url(/img/photo2.jpg) no-repeat center top;
        background-size: cover;
      }

      .photo3 {
        background: url(/img/photo3.jpg) no-repeat center top;
        background-size: cover;
      }

      .text {
        height: 100%;
        width: 380px;
        float: left;
        text-align: center;

        h2{
            padding-top: 60px;
        }
        p {
          display: block;
          font-size: 18px;
          font-weight: bold;
        }
        .btn {
          width: 120px;
          margin-top: 20px;
          text-decoration: none;
          color: #ffffff;
          font-weight: bold;
          background-color: #5F9EA0;
          &:visited {
            color: #ffffff;
          }
        }
      }
    }
  }

  .section1 {
    .content {
      .text {
        color: @color-white;
        background-color:  @color-black;
      }
      .photo {
        background: url(/img/photo1.jpg) no-repeat center top;
        background-size: cover;
      }
    }
  }

  .section2 {
    .content {
      .text {
        color: @color-white;
        background-color:  @color-black;
      }
      .photo {
        background: url(/img/photo2.jpg) no-repeat center top;
        background-size: cover;
      }
    }
  }

  .section3{
    .text {
      color: @color-white;
      background-color:  #B20606;
    }
    .content {
      .photo {
        background: url(/img/photo3.jpg) no-repeat center top;
        background-size: cover;
      }
    }
  }
}